/* Estilos Generales */
body {
    background-color: #f9fafb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h5 {
    color: #0056b3;
    font-weight: bold;
}

header {
    background: #f7f7f7;
    color: #0056b3;
}

footer {
    background: #0056b3;
    color: white;
}

.lead {
    color: #444;
}

/* Sección Principal */
.container {
    animation: fadeIn 2s ease-in;
}

.section-bg {
    background-color: #0056b3;
    color: white;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Mantener el footer siempre abajo */
footer {
    margin-top: auto;
}

.rounded-circle {
    border: 2px solid #fff;
}
